{% extends 'stars/base.html' %}

{% block title %}
    <title>Create</title>
{% endblock %}

{% block content %}

    <div style="margin: 2em" class="card">

  <div class="card-body">
    <h5 class="card-title">Add Contact</h5>
     <form method="POST">{% csrf_token %}
  <div class="form-group">

        <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
            <br />
        <input type="submit" class="btn btn-primary" value="Add" />
    </form>
  </div>

</form>

  </div>
</div>
{% endblock %}