{% extends 'stars/base.html' %}

{% block title %}
    <title>Addy - Welcome</title>
{% endblock %}



{% block content %}


    <div style="margin: 2em" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>You're here nice !!</strong> You can Create an email list with this simple python app
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
     </div>


    <div class="card text-center">
          <div class="card-header">
            Meet Addy !!
          </div>
          <div class="card-body">
            <h5 class="card-title">Addy is an application which stores names and email addresses in an SQLite  database:</h5>

            <a href="{%  url 'stars:list'  %}" class="btn btn-primary">View all Contacts</a>
               <a href="{%  url 'stars:create'  %}" class="btn btn-primary">Add Record</a>
          </div>
          <div class="card-footer text-muted">
           Writing with Python -Django
          </div>
</div>

{% endblock %}