{% extends 'stars/base.html' %}

{% block title %}
    <title>Addy - List</title>
{% endblock %}

{% block content %}



    <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
  {% if contacts %}
  {% for contact in contacts %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
    </tr>
  {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock %}